name: Gradle Package

on:
  workflow_call:
    inputs:
      java_version:
        type: string
        required: false
        default: ""
      gradle_args:
        type: string
        required: false
        default: build --stacktrace
      upload_artifacts:
        type: boolean
        required: false
        default: false
      upload_folder:
        type: string
        required: false
        default: build/libs/

permissions:
  contents: read

jobs:
  java-version:
    if: ${{ !inputs.java_version }}
    uses: Lepinoid/WorkflowCollections/.github/workflows/get-java-ver.yml@a88d69d2633c999ceb0db96f2534bab904373839
    
  build:
    needs: java-version
    runs-on: ubuntu-latest
    if: ${{ !cancelled() && !failure() && github.repository_owner == 'Lepinoid' && !contains(github.event.head_commit.message, '[CI-SKIP]') }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Set up JDK ${{ inputs.java_version || needs.java-version.outputs.java_version }}
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          java-version: ${{ inputs.java_version || needs.java-version.outputs.java_version }}
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@748248ddd2a24f49513d8f472f81c3a07d4d50e1 # v4.4.4

      - name: Run ${{ inputs.gradle_args }}
        run: ./gradlew "${INPUT_ARGS}"
        env:
          INPUT_ARGS: ${{ inputs.gradle_args }}

      - name: Upload artifact
        if: ${{ inputs.upload_artifacts }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: Artifacts
          path: ${{ inputs.upload_folder }}
