name: Gradle Package

on:
  workflow_call:
    inputs:
      java_version:
        type: string
        required: false
        default: ""
      gradle_args:
        type: string
        required: false
        default: build --stacktrace
      upload_artifacts:
        type: boolean
        required: false
        default: false
      upload_folder:
        type: string
        required: false
        default: build/libs/

permissions:
  contents: read

jobs:
  java-version:
    if: ${{ !inputs.java_version }}
    uses: Lepinoid/WorkflowCollections/.github/workflows/get-java-ver.yml@a88d69d2633c999ceb0db96f2534bab904373839
    
  build:
    needs: java-version
    runs-on: ubuntu-latest
    if: ${{ !cancelled() && !failure() && github.repository_owner == 'Lepinoid' && !contains(github.event.head_commit.message, '[CI-SKIP]') }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Set up JDK ${{ inputs.java_version || needs.java-version.outputs.java_version }}
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: ${{ inputs.java_version || needs.java-version.outputs.java_version }}
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Run ${{ inputs.gradle_args }}
        run: ./gradlew "${INPUT_ARGS}"
        env:
          INPUT_ARGS: ${{ inputs.gradle_args }}

      - name: Upload artifact
        if: ${{ inputs.upload_artifacts }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: Artifacts
          path: ${{ inputs.upload_folder }}
