name: Get Java version from libs.versions.toml

on: 
  workflow_call:
    inputs:
      java_version:
          type: string
          description: "Java version. If empty, workflow tries to get version from gradle/libs.versions.toml#java"
          required: false
          default: ""
    outputs:
      java_version:
        description: "Detected java version"
        value: ${{ jobs.get.outputs.version }}

permissions:
  contents: read

jobs:
  get:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Get java version from libs.versions.toml
        if: ${{ inputs.java_version == '' }}
        id: java
        run: |
          # load versions.java from gradle/libs.versions.toml
          V=$(grep -i "java = \"\(.*\)\"" gradle/libs.versions.toml | sed -e "s/java = \"\(.*\)\"/\1/")
          echo "Detected version $V"
          echo "version=$V" >> "$GITHUB_OUTPUT"
    outputs:
      version: ${{ steps.java.outputs.version }}
