name: Lint kotlin codes using ktlint

on:
  workflow_call:
    inputs:
      version:
        type: string
        description: "Ktlint version. If empty, workflow tries to get version from gradle/libs.versions.toml#ktlint"
        required: false
        default: ""

permissions:
  contents: read

jobs:
  get-version:
    runs-on: ubuntu-latest
    if: ${{ inputs.version == '' }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Get ktlint version
        id: ktlint
        run: |
          # load versions.ktlint from gradle/libs.versions.toml
          V=$(grep -i "ktlint = \"\(.*\)\"" gradle/libs.versions.toml | sed -e "s/ktlint = \"\(.*\)\"/\1/")
          echo "Detected version $V"
          echo "version=$V" >> "$GITHUB_OUTPUT"
    outputs:
      version: ${{ steps.ktlint.outputs.version }}

  ktlint:
    runs-on: ubuntu-latest
    needs: [ get-version ]
    if: ${{ !cancelled() && !failure() && !contains(github.event.head_commit.message, '[CI-SKIP]') }}
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Lint Check
        uses: ScaCap/action-ktlint@26c5e9b625966139d9956cbbb6217375480d4e14 # v1.9.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          relative: true
          ktlint_version: ${{ inputs.version || needs.get-version.outputs.version }}
          reporter: ${{ (github.event_name == 'pull_request' && 'github-pr-review' ) || 'github-check' }}
