name: Publish to maven-repo
on:
  workflow_call:
    inputs:
      java_version:
        type: string
        required: false
        default: ""
      repo:
        type: string
        required: false
        default: Lepinoid/maven-repo
      token_user:
        type: string
        required: false
        default: lepinoid-project
      publish_commit_user_email:
        type: string
        required: false
        default: lepinoid@gmail.com
      publish_commit_user_name:
        type: string
        required: false
        default: lepinoid-project
    secrets:
      TOKEN:
        required: true
      GPG_PRIVATE_KEY:
        required: true
      GPG_PASSPHRASE:
        required: true
      

jobs:
  java-version:
    if: ${{ !inputs.java_version }}
    uses: Lepinoid/WorkflowCollections/.github/workflows/get-java-ver.yml@main

  publish:
    needs: java-version
    if: ${{ !cancelled() && !failure() && github.repository_owner == 'Lepinoid' && !contains(github.event.head_commit.message, '[CI-SKIP]') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: gradle/wrapper-validation-action@f9c9c575b8b21b6485636a91ffecd10e558c62f6 # v3.5.0

      - name: Setup Java ${{ inputs.java_version || needs.java-version.outputs.java_version }}
        uses: actions/setup-java@17f84c3641ba7b8f6deff6309fc4c864478f5d62 # v3.14.1
        with:
          distribution: temurin
          java-version: ${{ inputs.java_version || needs.java-version.outputs.java_version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@06832c7b30a0129d7fb559bcc6e43d26f6374244 # v4.3.1

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_config_global: true


      - name: publish
        uses: uTen2c/publish-to-github@b93c185edf1c598e9007be7e9b72d51d9f04a047 # v1.2
        with:
          publish-path: ${{ github.workspace }}/build/repo
          repo: ${{ inputs.repo }}
          token-user: ${{ inputs.token_user }}
          token: ${{ secrets.TOKEN }}
          commit-user-name: ${{ inputs.publish_commit_user_name }}
          commit-user-email: ${{ inputs.publish_commit_user_email }}
