name: Publish to maven-repo
on:
  workflow_call:
    inputs:
      java_version:
        type: string
        required: false
        default: ""
      repo:
        type: string
        required: false
        default: Lepinoid/maven-repo
      token_user:
        type: string
        required: false
        default: lepinoid-project
      publish_commit_user_email:
        type: string
        required: false
        default: lepinoid@gmail.com
      publish_commit_user_name:
        type: string
        required: false
        default: lepinoid-project
    secrets:
      TOKEN:
        required: true
      GPG_PRIVATE_KEY:
        required: true
      GPG_PASSPHRASE:
        required: true
      
permissions:
  contents: read

jobs:
  java-version:
    if: ${{ !inputs.java_version }}
    uses: Lepinoid/WorkflowCollections/.github/workflows/get-java-ver.yml@a88d69d2633c999ceb0db96f2534bab904373839

  publish:
    needs: java-version
    if: ${{ !cancelled() && !failure() && github.repository_owner == 'Lepinoid' && !contains(github.event.head_commit.message, '[CI-SKIP]') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: gradle/wrapper-validation-action@f9c9c575b8b21b6485636a91ffecd10e558c62f6 # v3.5.0

      - name: Setup Java ${{ inputs.java_version || needs.java-version.outputs.java_version }}
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version: ${{ inputs.java_version || needs.java-version.outputs.java_version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_config_global: true


      - name: publish
        uses: uTen2c/publish-to-github@b93c185edf1c598e9007be7e9b72d51d9f04a047 # v1.2
        with:
          publish-path: ${{ github.workspace }}/build/repo
          repo: ${{ inputs.repo }}
          token-user: ${{ inputs.token_user }}
          token: ${{ secrets.TOKEN }}
          commit-user-name: ${{ inputs.publish_commit_user_name }}
          commit-user-email: ${{ inputs.publish_commit_user_email }}
